[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "emacs.d/tern"]
	path = emacs.d/tern
	url = https://github.com/marijnh/tern
[submodule "emacs.d/vendor/tern"]
	path = emacs.d/vendor/tern
	url = https://github.com/marijnh/tern
